header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#form {
    background-image: url('../img/form.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.contact-form {
    padding: 20px;
    width: 300px;
}
.contact-form h2 {
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 5px;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.contact-form button {
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    width: 100px;

}