main{
    margin: auto;
    max-width: 800px;
}

.cont{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.pokemon{
    padding: 20px;
    margin: 10px;
    color: black;
    border-radius: 8px;
    text-decoration: none;
}